
<body>
  <br>
  <div class="container"> 
    <h1>IP Pública : <strong>{{domain}}</strong></h1> 
  </div>   
  <div class="container p-4">
    <hr>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-body">
          <form [formGroup]="newIntegranteForm" class="mat-elevation-z8">
            <div class="form-group" class="container">
              <label for="">Carnet</label>
              <input type="text" formControlName="carnet" class="form-control" placeholder="ingrese carnet">
            </div><br>
            <div class="form-group"  class="container">
              <label for="">Nombres</label>
              <input type="text" formControlName="nombres" class="form-control" placeholder="ingrese nombres">
            </div><br>
            <div class="form-group"  class="container">
              <label for="">Apellidos</label>
              <input type="text" formControlName="apellidos" class="form-control" placeholder="ingrese apellidos">
            </div><br>
            <div class="form-group"  class="container">
              <label for="">Telefono</label>
              <input type="text" formControlName="telefono" class="form-control" placeholder="ingrese telefono">
            </div><br>
            <div class="form-group"  class="container">
              <label for="">Email</label>
              <input type="text" formControlName="email" class="form-control" placeholder="ingrese email">
            </div>
            <br>
            <div class="form-group" class="d-grid gap-2">
              <button type="button" class="btn btn-info" (click)="saveIntegrante();">Guardar</button>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-8">

        <table id="idTable" class="table table-dark table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">carnet</th>
              <th scope="col">nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">Telefono</th>
              <th scope="col">Email</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let list of listItegrantes; let i = index">
              <td>{{i+1}}</td>
              <td>{{list.carnet}}</td>
              <td>{{list.nombres}}</td>
              <td>{{list.apellidos}}</td>
              <td>{{list.telefono}}</td>
              <td>{{list.email}}</td>
              <td>
                <a href="" class="btn btn-secondary" [routerLink]="['/update/', list.id]"> <i class="fas fa-marker"></i>
                </a> &nbsp;
                <a href="" class="btn btn-danger" (click)="deleteIntegrante(list.id)"> <i
                    class="far fa-trash-alt"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <h1>Servidor 1: 54.209.161.105 </h1>
</body>